server:
#  servlet:
#    session:
#      timeout: 1m
  tomcat:
    use-relative-redirects: true
# Tomcat metrics enabled for Spring Cloud for AWS Micrometer CloudWatch Integration
    mbeanregistry:
      enabled: true
    
spring:
  sql:
    init:
      platform: postgresql
      mode: always
  h2:
    console:
      enabled: false
  datasource:    
    url: jdbc:postgresql://localhost:5432/testdb
    driver-class-name: org.postgresql.Driver 
    username: postgres
    password: password

#Spring Session Data Redis
  session:
    data:
      redis:
        configure-action: none
#RedisIndexedSessionRepository is selected to support session expiration and deletion
        repository-type: indexed
  data:
    redis:
#      host: localhost
      port: 6379
# Spring Cloud for AWS Parameter Store Integration & Secrets Manager Integration Enabled
  cloud:
    aws:
      parameterstore:
        enabled: true
      secretsmanager:
        enabled: true
  config:
    import: 
      - optional:aws-parameterstore:/config/common/;/config/${spring.application.name}/
      - optional:aws-secretsmanager:/secrets/database-secrets?prefix=spring.datasource.
      - optional:aws-secretsmanager:/secrets/database-secrets?prefix=example.datasource.read.
      - optional:aws-secretsmanager:/secrets/database-secrets?prefix=example.datasource.write.
        
# Spring Boot Actuator
management:
  endpoints:
    web:
      discovery:
        enabled: false
# Metrics enabled        
  metrics:
    enable:
      all: false
      system: true
      process: true
      disk: true
      jvm: true
      hikaricp: true
      mybatis: true
      tomcat: true
# Spring Cloud for AWS Micrometer CloudWatch Metrics Integration Enabled
  cloudwatch:
    metrics:
      export:
        enabled: true
        namespace: ${spring.application.name}

example:
  # Dynamic Routing DataSource
  datasource:
    read:
      driver-class-name: org.postgresql.Driver
  #    hikari:
  #      maximum-pool-size: 30
    write:
      driver-class-name: org.postgresql.Driver
  #    hikari:
  #      maximum-pool-size: 30
  sqs:
    region: ap-northeast-1  
  s3:
    bucket: mysd33bucket123
    region: ap-northeast-1
# 業務APの設定
  api:
    backend:
      url: http://localhost:8000
    retry:
      max-attempts: 3
      min-backoff: 200
  delayed:
    batch:
      queue: SampleQueue