<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- https://logback.qos.ch/access.html -->
      <!-- https://logback.qos.ch/manual/layouts.html#AccessPatternLayout -->
      <!-- %h: Remote host
           %a: Remote IP address
           %i{X-Forwarded-For}: ALB forwards the original client IP address in the X-Forwarded-For header
           %t: Date and time
           %r: Request URL
           %D: elapsed time in milliseconds
           %s: HTTP status code
           %S: Session ID
           %v: Server name
           %I: Thread Name
           %i{X-Amzn-Trace-Id}: ALB forwards the Trace ID in the X-Amzn-Trace-Id header
           %i{User-Agent}: User agent
      -->
      <Pattern>[Tomcat] %h %a %i{X-Forwarded-For} [%t{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}] "%r" "%D ms" %s "%S" "%v" "%I" "%i{X-Amzn-Trace-Id}" "%i{User-Agent}"</Pattern>
    </encoder>
  </appender>
  
  <appender-ref ref="STDOUT" />
</configuration>
